<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bs.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %} BS-Select prototype {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<header>
  <div class="bss-page-header">
    <div>
      <h1 class="bss-h1">Breast Screening Select</h1>
    </div>
    <div class="bss-header-mini-nav">
      <p>Logged in as: <strong>BSS_uSER-oe_so1</strong></p>
      <ul class="bss-header-links">
        <li><a href="/index">Home page</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">User guide</a></li>
        <li><a href="#">Release notes</a></li>
      </ul>
    </div>
  </div>
  <nav class="bss-header-nav">
    <ul class="bss-nav-links">
      <li><a href="#" class="nav-link">Subject search</a></li>
      <li><a href="#" class="nav-link">Batch management</a></li>
      <li><a href="#" class="nav-link">Outcome list</a></li>
      <li><a href="#" class="nav-link">Parameters</a></li>
      <li><a href="#" class="nav-link">BSO Mapping</a></li>
      <li><a href="#" class="nav-link">BSO Contact list</a></li>
      <li><a href="#" class="nav-link">Monitoring reports</a></li>
      <li><a href="#" class="nav-link">Failsafe reports</a></li>
      <li><a href="#" class="nav-link">Estimating</a></li>
      <li><a href="#" class="nav-link">Round planning</a></li>
    </ul>
  </nav>
</header>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <!-- Change the page title here -->
    
    <h1>Screening unit list</h1>

    <nav class="nhsuk-sub-navigation">
      <ul class="nhsuk-sub-navigation__list">
        <li class="nhsuk-sub-navigation__item">
          <a href="#" class="nhsuk-sub-navigation__link" aria-current="page"
            >Unit list</a
          >
        </li>
        <li class="nhsuk-sub-navigation__item">
          <a
            href="#"
            class="nhsuk-sub-navigation__link"
            >Unit dashboard</a
          >
        </li>
      </ul>
    </nav>

    <table role="table" class="nhsuk-table-responsive bs-table-marginb24 bs-table-margint24">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">Screening unit name</th>
          <th role="columnheader" class="" scope="col">Unit type</th>
          <th role="columnheader" class="" scope="col">Status</th>
          <th role="columnheader" class="" scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit name</span><a href="#">Cheshire unit</a>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit type</span> Mobile
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>Active
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">edit</span><a href="#">Edit unit details</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit name</span>Mobile unit 4
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit type</span> Mobile
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>Active
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">edit</span><a href="#">Edit unit details</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit name</span>St agatha hospital breast clinic
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit type</span> Mobile
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>Active
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">edit</span><a href="#">Edit unit details</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit name</span>Diamond mobile 1
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit type</span> Mobile
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>Active
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">edit</span><a href="#">Edit unit details</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit name</span>London static 2
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit type</span> Static
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>Active
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">edit</span><a href="#">Edit unit details</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit name</span>Mobile unit 1
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Unit type</span> Mobile
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>Active
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">edit</span><a href="#">Edit unit details</a>
          </td>
        </tr>
      </tbody>
    </table>
    <nav role="navigation" aria-label="Pagination">
      <ul class="screening-pagination">
        <li class="screening-pagination-item" aria-current="page">
          <span class="screeing-pagination-current">
            1</span>
          </a>
        </li>
        <li class="screening-pagination-item">
          <a href="#">
            <span>2</span>
          </a>
        </li>
        <li class="screening-pagination-item">
          <a href="#">
            <span>3</span>
          </a>
        </li>
        <li class="screening-pagination-item">
          <a href="#">
            <span>Next >></span>
          </a>
        </li>
        <p class="screening-pagination-showing">Showing 1 of 1</p>
      </ul>
    </nav>
    <button class="nhsuk-button" type="submit">Add a screening unit</button>

    <!-- End of content -->
  </div>
</div>
{% endblock %}
