// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////


body {
background-color: #ffffff;
}

html {
  background-color: #ffffff;
}

.nhsuk-width-container {
  margin: 0 19.5rem; /* [1] */
  max-width: 1260px; /* [2] */
  /* [4] */

}
@media (min-width: 48.0625em) {
  .nhsuk-grid-column-two-thirds {
    float: left;
    width: 100%;
  }
}

// BS SELECT PROTOTYPE CSS TEST ONLY //


// General //
.bss-h1 {
  color: #005eb8;
  margin-bottom: 0;
}

.bss-main {
  width: 80rem;
}

.btn-flex {
  display: flex;
  padding: 1.5rem 0;
  gap: 3rem;
}

.bs-table-link {
  background-color: 	#4c6272;
  box-shadow: 0 4px 0 #263139;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  font-size: 1.1875rem;
  cursor: pointer;
}

.bs-table-link:hover {
  background-color: #212b32;
  color: #ffffff;
}
.bs-table-link:focus {
  background: #ffeb3b;
  box-shadow: 0 4px 0 #212b32;
  color: #212b32;
  outline: 4px solid transparent;
}

.bs-table-link:active {
  background: #263139;
  box-shadow: none;
  top: 4px;
  color: #ffffff;
}

// header //

.bss-page-header {
  padding: 1.5rem;
  padding-bottom: 0;
}
.bss-header-mini-nav {
  display: flex;
  justify-content: space-between;
}

.bss-header-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: 0.875rem;
}

.bss-header-nav {
  background-color: #d8dde0; 
}

.bss-nav-links {
  padding: 0.75rem;
  margin: 0 1.5rem;
  display: flex;
  gap: 2rem;
  list-style: none;
}



// body //

.alert-tag {
  margin-bottom: 3rem;
  display: flex;
  gap: 1.5rem;
}

.alert-icon {
  height: 3rem;
  width: 3rem;
}

// Table 

.bs-table-marginb {
  margin-bottom: 3rem;
}
.bs-table-marginb24 {
  margin-bottom: 1.5rem;
}

// SCREENING PAGINATION

.screening-pagination {
  list-style-type: none;
   padding-left: 0;
 }
 
 .screening-pagination-item {
   display: inline-block;
   font-weight: 400;
   margin-right: 20px;
 }
 
 .screeing-pagination-current {
   text-decoration: none;
   color: #212B32;
   font-weight: bold;
 }
 
 .screening-pagination-showing {
   float: right;
 }