// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////


body {
background-color: #ffffff;
}

html {
  background-color: #ffffff;
}

.nhsuk-width-container {
  margin: 0 19.5rem; /* [1] */
  max-width: 1260px; /* [2] */
  /* [4] */

}
@media (min-width: 48.0625em) {
  .nhsuk-grid-column-two-thirds {
    float: left;
    width: 100%;
  }
}

// BS SELECT PROTOTYPE CSS TEST ONLY //


// General //
.top-margin-small {
  margin-top: 1.5rem;
}

.bss-h1 {
  color: #005eb8;
  margin-bottom: 0;
}

.bss-main {
  width: 80rem;
}

.btn-flex {
  display: flex;
  padding: 1.5rem 0;
  gap: 3rem;
}

.bs-table-link {
  background-color: 	#4c6272;
  box-shadow: 0 4px 0 #263139;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  font-size: 1.1875rem;
  cursor: pointer;
}

.bs-table-link:hover {
  background-color: #212b32;
  color: #ffffff;
}
.bs-table-link:focus {
  background: #ffeb3b;
  box-shadow: 0 4px 0 #212b32;
  color: #212b32;
  outline: 4px solid transparent;
}

.bs-table-link:active {
  background: #263139;
  box-shadow: none;
  top: 4px;
  color: #ffffff;
}

// header //

.bss-page-header {
  padding: 1.5rem;
  padding-bottom: 0;
}
.bss-header-mini-nav {
  display: flex;
  justify-content: space-between;
}

.bss-header-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: 0.875rem;
}

.bss-header-nav {
  background-color: #d8dde0; 
}

.bss-nav-links {
  padding: 0.75rem;
  margin: 0 1.5rem;
  display: flex;
  gap: 2rem;
  list-style: none;
}

// forms and input */

.attendance-span-value {
  font-size: 19px;
}



// body //

.alert-tag {
  margin-bottom: 3rem;
  display: flex;
  gap: 1.5rem;
}

.alert-icon {
  height: 3rem;
  width: 3rem;
}

// Table 

.bs-table-marginb {
  margin-bottom: 3rem;
}
.bs-table-marginb24 {
  margin-bottom: 1.5rem;
}

// SCREENING PAGINATION

.screening-pagination {
  list-style-type: none;
   padding-left: 0;
 }
 
 .screening-pagination-item {
   display: inline-block;
   font-weight: 400;
   margin-right: 20px;
 }
 
 .screeing-pagination-current {
   text-decoration: none;
   color: #212B32;
   font-weight: bold;
 }
 
 .screening-pagination-showing {
   float: right;
 }

/* ==========================================================================
   #SECONDARY NAV
   ========================================================================== */
   .nhsuk-header__navigation-item--current {
    box-shadow: inset 0 -4px 0 #d8dde0; }
  
  .nhsuk-sub-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative; }
    .nhsuk-sub-navigation__list::before {
      background-color: #d8dde0;
      content: "";
      display: block;
      height: 4px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      margin: 4px; }
  
  @media (min-width: 40.0625em) {
    .nhsuk-sub-navigation__list {
      width: 100%; } }
  
  .nhsuk-sub-navigation__item {
    box-shadow: inset 0 -1px 0 #bfc1c3;
    display: block;
    margin-top: -1px; }
  
  @media (min-width: 40.0625em) {
    .nhsuk-sub-navigation__item {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579; } }
  
  @media print {
    .nhsuk-sub-navigation__item {
      font-size: 14pt;
      line-height: 1.15; } }
  
  .nhsuk-sub-navigation__item:last-child {
    box-shadow: none; }
  
  @media (min-width: 40.0625em) {
    .nhsuk-sub-navigation__item {
      box-shadow: none;
      display: inline-block; } }
  
  .nhsuk-sub-navigation__link {
    display: block;
    text-decoration: underline;
    padding: 24px;
    margin: 4px; }
  
  .nhsuk-sub-navigation__link:focus {
    color: #0b0c0c;
    position: relative; }
  
  .nhsuk-sub-navigation__link:hover {
    color: #0b0c0c;
    position: relative; }
  
  .nhsuk-sub-navigation__link:hover:before {
    background-color: black;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px; }
  
  .nhsuk-sub-navigation__link[aria-current="page"] {
    color: #0b0c0c;
    position: relative;
    text-decoration: none; }
  
  .nhsuk-sub-navigation__link[aria-current="page"]:before {
    background-color: #005ea5;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px; }
  
  @media (min-width: 40.0625em) {
    .nhsuk-sub-navigation__link:hover:before {
      height: 4px;
      width: 100%; } }
  
  @media (min-width: 40.0625em) {
    .nhsuk-sub-navigation__link[aria-current="page"]:before {
      height: 4px;
      width: 100%; } }
  
  .nhsuk-sub-navigation__link[aria-current="page"]:focus:before {
    background-color: #0b0c0c; }