<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bs.html' %}
<!-- Set the page title -->
{% block pageTitle %} BS-Select prototype {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<body>
  <header></header>
  {% endblock %}

  <!-- For adding a back link -->
  <!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
  {% block outerContent %} {% endblock %}

  <!-- For adding page content -->
  <!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <main>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <!-- Change the page title here -->
        <h1>Confirm visit details</h1>
        <p class="nhsuk-body-l">
          Check the details of the visited you have created before you confirm
          and save
        </p>

        <div class="nhsuk-u-margin-bottom-7">
          <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">
              Visit name goes here
            </caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">Cohort name</th>
                <th role="columnheader" class="" scope="col">NTD start date</th>
                <th role="columnheader" class="" scope="col">NTD end date</th>
                <th role="columnheader" class="" scope="col">
                  Screening start date
                </th>
                <th role="columnheader" class="" scope="col">
                  Screening end date
                </th>
                <th role="columnheader" class="" scope="col">Visit demand</th>
                <th role="columnheader" class="" scope="col">
                  Visit appointment capacity
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"
                    >Cohort name</span
                  >Cohort one
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  >01/06/2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  >01/07/2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  >01/06/2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  >01/07/2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span>200
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span>250
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  ><a href="#">delete</a>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span>Cohort
                  two
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  >27/06/2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  >31/07/2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  >27/06/2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  >31/07/2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span>200
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span>250
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading"></span
                  ><a href="createvisit4">delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--Buttons-->

        <a href="createvisit5">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Confirm and save
          </button>
        </a>

        <!-- End of content -->
      </div>
    </div>
  </main>
</body>
{% endblock %}
