<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bs.html' %}
<!-- Set the page title -->
{% block pageTitle %} BS-Select prototype {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<body>
  <header>
    <div class="bss-page-header">
      <div>
        <h1 class="bss-h1">Breast Screening Select</h1>
      </div>
      <div class="bss-header-mini-nav">
        <p>Logged in as: <strong>BSS_uSER-oe_so1</strong></p>
        <ul class="bss-header-links">
          <li>
            <a href="/index">Home page</a>
          </li>
          <li class="pipe">|</li>
          <li><a href="#">Logout</a></li>
          <li class="pipe">|</li>
          <li><a href="#">Help</a></li>
          <li class="pipe">|</li>
          <li><a href="#">User guide</a></li>
          <li class="pipe">|</li>
          <li><a href="#">Release notes</a></li>
        </ul>
      </div>
    </div>
  </header>
  {% endblock %}

  <!-- For adding a back link -->
  <!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
  {% block outerContent %} {% endblock %}

  <!-- For adding page content -->
  <!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <main>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <!-- Change the page title here -->

        <h1>Create a visit</h1>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="select-1">
            Select a location for screening
          </label>
          <select class="nhsuk-select" id="select-1" name="select-1">
            <option value="0" selected></option>
            <option value="1">Location one</option>
            <option value="2">Location two</option>
            <option value="3">Location three</option>
          </select>
        </div>

        <hr />

        <h2>Add cohort details</h2>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="select-1"> Select a cohort</label>
          <select class="nhsuk-select" id="select-1" name="select-1">
            <option value="0" selected></option>
            <option value="1" disabled>Cohort one</option>
            <option value="2">Cohort two</option>
            <option value="3">Cohort three</option>
          </select>
        </div>
        <div class="nhsuk-form-group">
          <fieldset
            class="nhsuk-fieldset"
            aria-describedby="example-hint"
            role="group"
          >
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h2 class="nhsuk-fieldset__heading">NTD start date</h2>
            </legend>
            <div class="nhsuk-hint" id="example-hint">
              For example, 10 06 2020
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-day"
                  >
                    Day
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-day"
                    name="example-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-month"
                  >
                    Month
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-month"
                    name="example-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-year"
                  >
                    Year
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                    id="example-year"
                    name="example-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="nhsuk-form-group">
          <fieldset
            class="nhsuk-fieldset"
            aria-describedby="example-hint"
            role="group"
          >
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h2 class="nhsuk-fieldset__heading">NTD end date</h2>
            </legend>
            <div class="nhsuk-hint" id="example-hint">
              For example, 10 06 2020
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-day"
                  >
                    Day
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-day"
                    name="example-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-month"
                  >
                    Month
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-month"
                    name="example-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-year"
                  >
                    Year
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                    id="example-year"
                    name="example-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <p>
          Invitation demand: <span><strong>250</strong></span>
        </p>

        <hr />

        <!-- screening dates for capacity parameters -->

        <h2>Capacity parameters</h2>

        <div class="nhsuk-form-group">
          <fieldset
            class="nhsuk-fieldset"
            aria-describedby="example-hint"
            role="group"
          >
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h2 class="nhsuk-fieldset__heading">Screening start date</h2>
            </legend>
            <div class="nhsuk-hint" id="example-hint">
              For example, 10 06 2020
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-day"
                  >
                    Day
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-day"
                    name="example-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-month"
                  >
                    Month
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-month"
                    name="example-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-year"
                  >
                    Year
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                    id="example-year"
                    name="example-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="nhsuk-form-group">
          <fieldset
            class="nhsuk-fieldset"
            aria-describedby="example-hint"
            role="group"
          >
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h2 class="nhsuk-fieldset__heading">Screening end date</h2>
            </legend>
            <div class="nhsuk-hint" id="example-hint">
              For example, 10 06 2020
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-day"
                  >
                    Day
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-day"
                    name="example-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-month"
                  >
                    Month
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-month"
                    name="example-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-year"
                  >
                    Year
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                    id="example-year"
                    name="example-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <a href="#" class="nhsuk-u-padding-bottom-2">View visit list</a>
        <p class="nhsuk-u-padding-top-2">
          Visit appointment capacity: <span><strong>200</strong></span>
        </p>
        <span class="nhsuk-error-message"
          >The dates you have selected overlap with the following screening
          dates</span
        >

        <table role="table" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">Cohort</th>
              <th role="columnheader" class="" scope="col">Location</th>
              <th role="columnheader" class="" scope="col">
                screening start date
              </th>
              <th role="columnheader" class="" scope="col">
                screening end date
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">cohort name </span
                >cohort example
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>Location
                one
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>15/06/2023
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>30/07/2023
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">cohort name</span
                >cohort 7
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>Location
                place 3
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>30/06/2023
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>30/08/2023
              </td>
            </tr>
          </tbody>
        </table>

        <hr />

        <!--Screening demand parameters-->

        <h2>Screening demand parameters</h2>
        <p>
          Cohort expected attendance rate: <span><strong>85%</strong></span>
        </p>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading"></h1>
            </legend>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input
                  class="nhsuk-radios__input"
                  id="example-1"
                  name="example"
                  type="radio"
                  value="no"
                />
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Use a different attendance rate for this visit
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input
                  class="nhsuk-radios__input"
                  id="example-2"
                  name="example"
                  type="radio"
                  value="yes"
                />
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Use the current attendance rate for this visit
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="nhsuk-form-group rlp-list">
          <label>Add a contingency</label>
          <input
            class="nhsuk-input nhsuk-input--width-4"
            id="input-width-4"
            name="test-width-4"
            type="number"
          />
        </div>
        <p>
          Visit demand: <span><strong>220</strong></span>
        </p>

        <!--Buttons-->

        <a href="createvisit3">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Create visit
          </button>
        </a>

        <!-- End of content -->
      </div>
    </div>
  </main>
</body>
{% endblock %}
