<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bs.html' %}
<!-- Set the page title -->
{% block pageTitle %} BS-Select prototype {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<body>
  <header>
    <div class="bss-page-header">
      <div>
        <h1 class="bss-h1">Breast Screening Select</h1>
      </div>
      <div class="bss-header-mini-nav">
        <p>Logged in as: <strong>BSS_uSER-oe_so1</strong></p>
        <ul class="bss-header-links">
          <li>
            <a href="/index">Home page</a>
          </li>
          <li class="pipe">|</li>
          <li><a href="#">Logout</a></li>
          <li class="pipe">|</li>
          <li><a href="#">Help</a></li>
          <li class="pipe">|</li>
          <li><a href="#">User guide</a></li>
          <li class="pipe">|</li>
          <li><a href="#">Release notes</a></li>
        </ul>
      </div>
    </div>
  </header>
  {% endblock %}

  <!-- For adding a back link -->
  <!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
  {% block outerContent %} {% endblock %}

  <!-- For adding page content -->
  <!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <main>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <!-- Change the page title here -->

        <h2>Add cohort details</h2>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="select-1"> Cohort name </label>
          <select class="nhsuk-select" id="select-1" name="select-1">
            <option value="0" selected></option>
            <option value="1" disabled>Cohort one</option>
            <option value="2">Cohort two</option>
            <option value="3">Cohort three</option>
          </select>
        </div>
        <div class="nhsuk-form-group">
          <fieldset
            class="nhsuk-fieldset"
            aria-describedby="example-hint"
            role="group"
          >
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h2 class="nhsuk-fieldset__heading">NTD start date</h2>
            </legend>
            <div class="nhsuk-hint" id="example-hint">
              For example, 10 06 2020
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-day"
                  >
                    Day
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-day"
                    name="example-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-month"
                  >
                    Month
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-month"
                    name="example-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-year"
                  >
                    Year
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                    id="example-year"
                    name="example-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="nhsuk-form-group">
          <fieldset
            class="nhsuk-fieldset"
            aria-describedby="example-hint"
            role="group"
          >
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h2 class="nhsuk-fieldset__heading">NTD end date</h2>
            </legend>
            <div class="nhsuk-hint" id="example-hint">
              For example, 10 06 2020
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-day"
                  >
                    Day
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-day"
                    name="example-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-month"
                  >
                    Month
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-month"
                    name="example-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-year"
                  >
                    Year
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                    id="example-year"
                    name="example-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <p>
          Invitation demand: <span><strong>250</strong></span>
        </p>

        <hr />

        <!-- screening dates for capacity parameters -->

        <h2>Capacity parameters</h2>

        <div class="nhsuk-form-group">
          <fieldset
            class="nhsuk-fieldset"
            aria-describedby="example-hint"
            role="group"
          >
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h2 class="nhsuk-fieldset__heading">Screening start date</h2>
            </legend>
            <div class="nhsuk-hint" id="example-hint">
              For example, 10 06 2020
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-day"
                  >
                    Day
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-day"
                    name="example-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-month"
                  >
                    Month
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-month"
                    name="example-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-year"
                  >
                    Year
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                    id="example-year"
                    name="example-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="nhsuk-form-group">
          <fieldset
            class="nhsuk-fieldset"
            aria-describedby="example-hint"
            role="group"
          >
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h2 class="nhsuk-fieldset__heading">Screening end date</h2>
            </legend>
            <div class="nhsuk-hint" id="example-hint">
              For example, 10 06 2020
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-day"
                  >
                    Day
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-day"
                    name="example-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-month"
                  >
                    Month
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                    id="example-month"
                    name="example-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label
                    class="nhsuk-label nhsuk-date-input__label"
                    for="example-year"
                  >
                    Year
                  </label>
                  <input
                    class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                    id="example-year"
                    name="example-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <p>
          Visit appointment capacity: <span><strong>200</strong></span>
        </p>

        <a href="#">View visit list</a>

        <hr />

        <!--Screening demand parameters-->

        <h2>Screening demand parameters</h2>
        <p>
          Cohort expected attendance rate: <span><strong>85%</strong></span>
        </p>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading"></h1>
            </legend>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input
                  class="nhsuk-radios__input"
                  id="example-1"
                  name="example"
                  type="radio"
                  value="no"
                />
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Use a different attendance rate for this visit
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input
                  class="nhsuk-radios__input"
                  id="example-2"
                  name="example"
                  type="radio"
                  value="yes"
                />
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Use the current attendance rate for this visit
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="nhsuk-form-group rlp-list">
          <label>Add a contingency</label>
          <input
            class="nhsuk-input nhsuk-input--width-4"
            id="input-width-4"
            name="test-width-4"
            type="number"
          />
        </div>
        <p>
          Visit demand: <span><strong>220</strong></span>
        </p>
        <hr />

        <!--Buttons-->

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--previous">
              <a
                class="nhsuk-pagination__link nhsuk-pagination__link--prev"
                href="createvisit"
              >
                <span class="nhsuk-pagination__title">Previous</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Previous cohort</span>
                <svg
                  class="nhsuk-icon nhsuk-icon__arrow-left"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  width="34"
                  height="34"
                >
                  <path
                    d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"
                  ></path>
                </svg>
              </a>
            </li>
            <li class="nhsuk-pagination-item--next">
              <a
                class="nhsuk-pagination__link nhsuk-pagination__link--next"
                href="#"
              >
                <span class="nhsuk-pagination__title">Next</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Add another cohort</span>
                <svg
                  class="nhsuk-icon nhsuk-icon__arrow-right"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  width="34"
                  height="34"
                >
                  <path
                    d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <a href="#">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Create visit
          </button>
        </a>

        <!-- End of content -->
      </div>
    </div>
  </main>
</body>
{% endblock %}
