<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bs.html' %}
<!-- Set the page title -->
{% block pageTitle %} BS-Select prototype {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<body>
  <header>
    <div class="bss-page-header">
      <div>
        <h1 class="bss-h1">Breast Screening Select</h1>
      </div>
      <div class="bss-header-mini-nav">
        <p>Logged in as: <strong>BSS_uSER-oe_so1</strong></p>
        <ul class="bss-header-links">
          <li>
            <a href="/index">Home page</a>
          </li>
          <li class="pipe">|</li>
          <li><a href="#">Logout</a></li>
          <li class="pipe">|</li>
          <li><a href="#">Help</a></li>
          <li class="pipe">|</li>
          <li><a href="#">User guide</a></li>
          <li class="pipe">|</li>
          <li><a href="#">Release notes</a></li>
        </ul>
      </div>
    </div>
    <nav class="bss-header-nav">
      <ul class="bss-nav-links">
        <li><a href="#">Subject search</a></li>
        <li><a href="#">Batch management</a></li>
        <li><a href="#">Outcome list</a></li>
        <li><a href="#">Parameters</a></li>
        <li><a href="#">BSO mapping</a></li>
        <li><a href="#">BSO contact list</a></li>
        <li><a href="#">Monitoring reports</a></li>
        <li><a href="#">Failsafe reports</a></li>
        <li><a href="#">Estimating</a></li>
        <li><a href="#">Round planning</a></li>
      </ul>
    </nav>
    <nav class="rlp-alert-bar">
      <div class="nhsuk-width-container">
        <span>You have visits with overlapping screening dates </span>
        <a href="#">Dismiss</a>
      </div>
    </nav>
  </header>
  {% endblock %}

  <!-- For adding a back link -->
  <!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
  {% block outerContent %} {% endblock %}

  <!-- For adding page content -->
  <!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <main>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <!-- Change the page title here -->

        <div class="btn-flex-centre">
          <button>Create screening visit</button>
          <button>Save visit plan</button>
          <button>Manage saved visit plans</button>
        </div>

        <table role="table" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">Cohort name</th>
              <th role="columnheader" class="" scope="col">Location</th>
              <th role="columnheader" class="" scope="col">Visit start date</th>
              <th role="columnheader" class="" scope="col">Visit end date</th>
              <th role="columnheader" class="" scope="col"></th>
              <th role="columnheader" class="" scope="col"></th>
              <th role="columnheader" class="" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>Visit name
                goes here
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>location
                one
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>01/06/2023
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading"></span>31/07/2023
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--red"> capacity </strong>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <details class="nhsuk-details">
                  <summary class="nhsuk-details__summary">
                    <a href="createvisit6">
                      <span class="nhsuk-details__summary-text">
                        View more
                      </span>
                    </a>
                  </summary>
                </details>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- End of content -->
      </div>
    </div>
  </main>
</body>
{% endblock %}
