<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bs.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %} BS-Select prototype {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<header>
  <div class="bss-page-header">
    <div>
      <h1 class="bss-h1">Breast Screening Select</h1>
    </div>
    <div class="bss-header-mini-nav">
      <p>Logged in as: <strong>BSS_uSER-oe_so1</strong></p>
      <ul class="bss-header-links">
        <li><a href="/index">Home page</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">User guide</a></li>
        <li><a href="#">Release notes</a></li>
      </ul>
    </div>
  </div>
  {% endblock %}

  <!-- For adding a back link -->
  <!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
  {% block outerContent %} {% endblock %}

  <!-- For adding page content -->
  <!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>BS-Select prototype kit</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        This prototype has been built using the NHS prototype kit and is
        currently in development
      </p>

      <hr />

      <h2>Current builds</h2>

      <div class="nhsuk-action-link">
        <a
          class="nhsuk-action-link__link"
          href="/unassigned-cohort/unassignedcohort"
        >
          <svg
            class="nhsuk-icon nhsuk-icon__arrow-right-circle"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            aria-hidden="true"
            width="36"
            height="36"
          >
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"
            ></path>
          </svg>
          <span class="nhsuk-action-link__text">Unassigned cohort</span>
        </a>
      </div>

      <div class="nhsuk-action-link">
        <a
          class="nhsuk-action-link__link"
          href="amend-capacity/unit-list.html"
        >
          <svg
            class="nhsuk-icon nhsuk-icon__arrow-right-circle"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            aria-hidden="true"
            width="36"
            height="36"
          >
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"
            ></path>
          </svg>
          <span class="nhsuk-action-link__text">Amend capacity</span>
        </a>
      </div>

      <h1>TEST</h1>

      <hr />

      <h2>Get started</h2>

      <p>Get started by using the:</p>

      <ul>
        <li>
          <a href="/docs/how-tos">how to guides</a>
        </li>
        <li>
          <a href="/docs/page-templates">page templates</a>
        </li>
        <li>
          code snippets for styles and components from the
          <a href="https://service-manual.nhs.uk/design-system"
            >NHS digital service manual</a
          >
        </li>
      </ul>

      <!-- End of content -->
    </div>
  </div>
  {% endblock %}
</header>
